Package: slurm-smd-sview
Source: slurm-smd
Version: 24.11.5-1
Architecture: amd64
Maintainer: SchedMD Support <support@schedmd.com>
Installed-Size: 362
Depends: slurm-smd (= 24.11.5-1), libc6 (>= 2.38), libgdk-pixbuf-2.0-0 (>= 2.22.0), libglib2.0-0t64 (>= 2.32.0), libgtk2.0-0t64 (>= 2.18.0)
Conflicts: sview
Section: admin
Priority: optional
Homepage: http://slurm.schedmd.com
Description: GUI to view or modify Slurm state information.
 This package contains sview, a GUI for viewing Slurm configuration, job, node,
 and partition state information.  Can be used to modify some information by
 authorized users.
