Package: slurm-smd-slurmd
Source: slurm-smd
Version: 24.11.5-1
Architecture: amd64
Maintainer: SchedMD Support <support@schedmd.com>
Installed-Size: 676
Depends: libc6 (>= 2.38), libhwloc15 (>= 2.10.0), liblz4-1 (>= 0.0~r130), libnuma1 (>= 2.0.11), libpam0g (>= 0.99.7.1), slurm-smd (= 24.11.5-1), munge
Conflicts: slurmd
Section: admin
Priority: optional
Homepage: http://slurm.schedmd.com
Description: Slurm compute node daemon
  Used to launch jobs on compute nodes.
