Package: slurm-smd-torque
Source: slurm-smd
Version: 24.11.5-1
Architecture: all
Maintainer: SchedMD Support <support@schedmd.com>
Installed-Size: 143
Depends: slurm-smd (>= 24.11.5-1), slurm-smd-libslurm-perl (>= 24.11.5-1), libswitch-perl, libc6 (>= 2.34), perl:any
Conflicts: gridengine-client, torque-client, torque-client-x11
Section: admin
Priority: optional
Homepage: http://slurm.schedmd.com
Description: Torque compatibility wrappers for Slurm
  Torque wrapper scripts used for helping migrate from Torque/PBS to Slurm
