# Slurm Source Directory (contains configure.ac and the src directory)
SlurmSourceDir=/media/jd/ext4/slurmbuild/slurm-24.11.5/obj-x86_64-linux-gnu/..

# Slurm Build Directory (where you ran configure and make from)
SlurmBuildDir=/media/jd/ext4/slurmbuild/slurm-24.11.5/obj-x86_64-linux-gnu

# Slurm Installation Directory (value of --prefix configure option)
SlurmInstallDir=/usr

# Slurm Configuration Directory (compiled-in location of slurm.conf)
SlurmConfigDir=/etc/slurm
